@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

a {
  margin: 0.25rem;
}

thead tr td {
  text-align: center;
}

.divbtn {
  margin-bottom: 0.5rem;
}

.card {
  padding: 0.5rem;
}

tbody .actions,
.year {
  text-align: center;
}

.std-center {
  text-align: center;
}
